*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #233546;
}

.container{
    padding-left: 10%;
    padding-right: 10%;
}

h1{
    color: #c8662e;
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    margin-bottom: 40px;
}

label,button,p,span,h3{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #c8662e;
}

p,span,a,li{
    color: #fffaf6;
    text-decoration: none;
    list-style: none;
}


.btn{
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border-radius: px;
}

a{
    cursor: pointer;
    color: inherit;
    line-height: 1;
    text-decoration: none;
}

@media (max-width:1200px){
    .container{
        padding-left: 5%;
        padding-right: 5%;
    
    }

    .btn{
        padding: 14px 22px;
    }
}